#seccion-footer {
    background-color: #000000 !important;
}

#footer-paneles div:nth-child(1) div#footer-logo img {
    width: 200px;
}

ul li {
    font-size: 1.2rem;
}

ul li a {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    text-decoration: none !important;
}

ul li i {
    vertical-align: middle;;
    font-size: 2rem;
}

#contacto {
    font-family: 'Times New Roman', 'Arial', sans-serif;
    font-size: 3rem !important;
    padding-top: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}